svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.ANode {
  opacity: 1;
  stroke-width: 4.0px;
}

circle.BNode {
  opacity: 0.5;
}

/*circle.node.reflexive { */
.reflexive {
  stroke: #000 !important;
  stroke-width: 1.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

.buffer { 			/*should be equal to 'text'*/
  font: 12px sans-serif;
  pointer-events: none;
  /* display: none;  -> unable to measure width!   should be set dinamically.*/
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}